*{
    font-family: 'Times New Roman', Times, serif;
}

body{
    margin: 0;
    padding: 0;
}

.top{
    background-color: #1F2937 ;
    color: white;
    width: 100%;
}

.header{
    display:flex;
    justify-content: space-between;
    align-items: center;
    padding: 16px;
}

.logo{
    font-weight: bolder;
    font-size: x-large;
}

.intro{
    display:flex;
    justify-content: space-around;
    align-items: center;
    padding: 32px;
}

.right{
    background-color: grey;
    min-width: 300px;
    min-height: 150px;
    display:flex;
    align-items: center;
    justify-content: center;
    margin: 16px;
}

.signup{
    background-color: #3882F6 ;
    padding: 16px 32px;
    color: white;
    text-align: center;
    font-weight: bolder;
}

.second{
    background-color: rgb(255, 255, 255);
    color: #1F2937;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 24px;
}

.imgroll{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.item{
    display:flex;
    flex-direction: column;
    align-items: center;
}

.visual{
    min-width: 100px;
    min-height: 150px;
    border-style: solid;
    border-width: 7px;
    border-color: #3882F6;
    flex-wrap: wrap;
}

.subtitle{
    text-align: center;
    padding: 16px;
    margin: 16px;
}

.third{
    display:flex;
    justify-content: center;
    background-color: #E5E7EB ;
    color: #1F2937;
    padding: 52px;
}

.quote{
    display:flex;
    flex-direction: column;
    align-items: center;
    max-width: 800px;
    font-size: 36px;
    font-style: italic;
    font-weight: light;
    text-align: left;
}

.att{
    font-size: 14px;
    font-weight: bold;
    margin-left:auto;
}

.bottom{
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 48px;
}

.notif{
    background-color: #3882F6;
    color: white;
    display: flex;
    flex: auto;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}

.ltext{
    text-align: left;
}
.tit{
    font-weight: bolder;
    font-size: larger;
}
.rbutton{
    color: white;
    background-color: #3882F6;
    max-width: 100px;
    border-style: solid;
    border-radius: 10px;
    border-color: white;
    cursor: pointer;
    flex:auto;
    margin-left: auto;
}



ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

li{
    padding: 8px;
}

a{
    text-decoration: none;
}


